html, body {
    height: 100%;
}

body {
    margin: 0px;
    scroll-behavior: smooth;
    background-color: #9266ac;
    -moz-tab-size:4;
    -o-tab-size: 4;
    tab-size: 4;
}

a, a:active {
    color: #afe4d2;
}

a:hover {
    color: #c6ecdf;
}

#loading-screen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    background-color: #212122;
}

#loader-logo {
    display: inline-block;
    position: relative;
    margin: auto;
    text-align: center;
}

#loader-text {
    font-size: 1em;
    font-family: 'Bitter', serif;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
}

#main-page {
    width: 100%;
    height: 100%;
}

.navbar {
    display: flex;
    padding: 1rem;
    width: 100%;
    height: 10%;
    background-color: #212122;
    box-sizing: border-box;
}

.navbar-header {
    flex: 0 1;
    padding-right: 1.5rem;
    width: fit-content;
    height: 100%;
}

#logo {
    display: block;
    overflow: hidden;
    position: relative;
}

.navbar-content {
    flex: 1 0;
    height: 100%;
}

.navbar-items {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.navbar-right {
    float: right;
}

.navbar-button {
    background: none;
    padding: 0.625rem 0.65rem;
    border: none;
    border-radius: 0.75rem;
    outline: none;
    cursor: pointer;
}

.theme-selector {
    font-size: 1.25em;
    color: white;
}

.theme-selector:active {
    background-color: #2e2e2e;
}

.main-content {
    padding: 0.5rem;
    padding-bottom: 0.575rem;
    display: flex;
    height: 90%;
    box-sizing: border-box;
}

.text-editor {
    overflow: auto;
    flex: 1;
    padding: 30px;
    border: 0px;
    resize: none;
    background: #333333;
    color: #ffffff;
    font-size: 1.25em;
}

.text-editor:focus {
    overflow: auto;
    outline: none !important;
    border:1px solid #2e2633;
    box-shadow: 0 0 10px #2d033b;
}

.preview {
    overflow: auto;
    flex: 1;
    padding: 20px 30px 20px 30px;
    background: #2c2c2c;
    color: #f3f3f3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.quick-toolbar {
    flex-grow: 0;
    flex-shrink: 0;
    padding: 5px;
    background: #2c2c2c;
}

.quick-button {
    display: block;
    background: none;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}

.quick-button:hover {
    background-color: #3d3d3d;
}

.editMode-button {
    font-size: 1.1em;
    color: #808080;
    padding: 4px 4px 4px 6px;
}

.splitMode-button {
    font-size: 1.1em;
    color: #9266ac;
    padding: 5px 6.65px 2px 5.5px;
}

.readMode-button {
    font-size: 1em;
    color: #808080;
    padding: 5px 6px 3px 6px;
}

.downloadHtml-button {
    font-size: 1.1em;
    color: #808080;
    padding: 4px 6.45px 4px 6px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #525252;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #575757;
}

body::-webkit-scrollbar-track {
    background: #212122;
}


/* Markdown specific styling properties */

/* Tables */
table {
    border-collapse: collapse;
    width: fit-content;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px 16px;
    font-size: 0.875em;
}

th {
    border-bottom: 2px solid #ddd;
    background-color: #1f1f1f;
}

tr:hover {
    background-color:#616161;
}

/* Text formattings */
p {
    line-height: 1.8;
    font-size: 0.875em;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1.125em;
}

h6 {
    margin: 30.06px 0px;
    font-size: 1.125em;
    color: #a1a1a1;
}

/* Horizontal rule */
hr {
    margin: 0px 0px 24px 0px;
    border-color: white;
}

/* Checklist formatting */
.task-list-item {
    margin: 14px 0px;
    font-size: 0.875em;
}

/* Codeblocks formatting highlightjs class */
.hljs {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #1d1d1d;
    font-size: 1.125em;
    line-height: 1.5;
    overflow-x: auto;
    white-space: pre;
}

.hljs::-webkit-scrollbar-thumb {
    visibility: hidden;
}