html, body {
    height: 100%;
}

body {
    margin: 0px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    background-color: #9266ac;
}

.navbar {
    padding: 15px;
    background: #212122;
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:focus, .navbar-brand:active {
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-decoration: none;
}

.main-content {
    margin: 8px;
    display: flex;
    height: 100%;
}

.text-editor {
    overflow: auto;
    flex: 1;
    padding: 30px;
    border: 0px;
    resize: none;
    background: #333333;
    color: #ffffff;
}

.text-editor:focus {
    overflow: auto;
    outline: none !important;
    border:1px solid #433949;
    box-shadow: 0 0 10px #39034b;
}

.preview {
    overflow: auto;
    flex: 1;
    padding: 0 50px;
    background: #2d2d2d;
    color: #f3f3f3;
}